{% extends 'base.html' %}

{% block content %}
    <ul class="nav nav-tabs nav-fill mb-3">
        <li class="nav-item">
            <a
                class="nav-link {% if kind_asset == 'new' %}active{% endif %}"
                href="{% url 'assets:assets-list' kind_asset='new' %}"
            >Новые объявления</a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link {% if kind_asset == 'const' %}active{% endif %}"
                href="{% url 'assets:assets-list' kind_asset='const' %}"
            >Постоянные объявления</a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link {% if kind_asset == 'archive' %}active{% endif %}"
                href="{% url 'assets:assets-list' kind_asset='archive' %}"
            >Архив</a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link {% if kind_asset == 'with_applicants' %}active{% endif %}"
                href="{% url 'assets:assets-list' kind_asset='with_applicants' %}"
            >Объявления с претендентами</a>
        </li>
    </ul>

    {% if kind_asset != 'archive' %}
        <div class="YandexMap mb-3 mw-100" data-assets="{{ assets_json }}"></div>
    {% endif %}

    <div class="mb-3">
        <a href="{% url 'assets:asset-create' %}" class="btn btn-primary">Добавить объявление</a>
        <a href="{% url 'assets:import-xls-select-file' %}" class="btn btn-secondary">Добавить из Excel</a>
        <a href="{% url 'assets:export-xls' %}" class="btn btn-secondary">Сохранить в Excel</a>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Балансодержатель</th>
                    <th scope="col">Срок</th>
                    <th scope="col">Количество согласий</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for asset in assets_qs %}
                    <tr {% if asset.has_approved_resolutions %}class="table-success"{% endif %}>
                        <td>{{ asset.id }}</td>
                        <td>
                            <a href="{{ asset.get_absolute_url }}">{{ asset.name }}</a><br>
                            {% if asset.state %}
                                <small class="text-muted">
                                    {% if asset.is_usable %}
                                        <span class="text-success">
                                            <i class="far fa-thumbs-up"></i>
                                        </span>
                                        {{ asset.get_state_display|default:'-'}}
                                    {% elif asset.is_usable_with_repair %}
                                        <span class="text-warning">
                                            <i class="fas fa-hammer"></i>
                                        </span>
                                        {{ asset.get_state_display|default:'-'}}
                                    {% elif asset.is_unusable %}
                                        <span class="text-danger">
                                            <i class="fas fa-times"></i>
                                        </span>
                                        {{ asset.get_state_display|default:'-'}}
                                    {% else %}
                                        {{ asset.get_state_display|default:'-'}}
                                    {% endif %}
                                </small>
                                <br>
                            {% endif %}
                            <small class="text-muted">
                                {% if asset.address %}
                                    {{ asset.address }}
                                {% else %}
                                    {{ asset.get_type_asset_display }}
                                {% endif %}
                            </small>
                        </td>
                        <td>{{ asset.balance_holder }}</td>
                        <td>{{ asset.expiration_date|default:'-'}}</td>
                        <td {% if asset.has_approved_resolutions %}class="font-weight-bold"{% endif %}>
                            {{ asset.approved_resolutions_count }}
                        </td>
                        <td>
                            <div class="text-nowrap">
                                {% if asset.is_new %}
                                    <a
                                        class="btn btn-light"
                                        href="#id_form_modal_const"
                                        data-toggle="modal"
                                        data-whatever="{{ asset.id }}"
                                        data-field-id="#id_asset"
                                        title="Сделать постоянным"
                                    >
                                        <i class="fas fa-thumbtack"></i>
                                    </a>
                                {% endif %}
                                {% if asset.is_active %}
                                    <a
                                        class="btn btn-light"
                                        href="#id_form_modal_archive"
                                        data-toggle="modal"
                                        data-whatever="{{ asset.id }}"
                                        data-field-id="#id_asset"
                                        title="Архивировать"
                                    >
                                        <i class="fas fa-archive"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade ModalValue" id="id_form_modal_archive">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Подтвердить действие</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите архивировать это объявление?</p>
                </div>
                <div class="modal-footer">
                    <form class="ModalForm" action="{% url 'assets:asset-archive' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="asset_id" id="id_asset">
                        <input type="hidden" name="back" value="{{ request.path }}">
                        <button class="btn btn-danger" type="submit">Архивировать</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div> <!-- .modal-content -->
        </div> <!-- .modal-dialog -->
    </div> <!-- .modal -->

    <div class="modal fade ModalValue" id="id_form_modal_const">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Подтвердить действие</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите сделать постоянным это объявление?</p>
                </div>
                <div class="modal-footer">
                    <form class="ModalForm" action="{% url 'assets:asset-const' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="asset_id" id="id_asset">
                        <input type="hidden" name="back" value="{{ request.path }}">
                        <button class="btn btn-danger" type="submit">Да</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div> <!-- .modal-content -->
        </div> <!-- .modal-dialog -->
    </div> <!-- .modal -->
{% endblock %}
