{% extends 'base.html' %}

{% block content %}
  <div class="container">
    {% if type_asset == "movable" %}
      <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="type_asset" value="movable">
        {% for field in form %}
          <div class="form-group">
            {% if field.html_name == "characteristic" %}
              {% include "common/textarea-field.html" with form=movable_form %}
            {% elif field.html_name == "expiration_date" %}
              {% include "common/date-field.html" with clear_button=True help_text="Если даты нет, объявление постоянное." %}
            {% else %}
              {% include "common/text-field.html" %}
            {% endif %}
          </div>
        {% endfor %}
        <div class="invalid-feedback">
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        </div>
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="photos" multiple>
            <label class="custom-file-label" for="customFile">Выберите файл</label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Сохранить</button>
      </form>
    {% else %}
      <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- immovable -->
        <input type="hidden" name="type_asset" value="immovable" id="id_type_asset">
        {% for field in form %}
          <div class="form-group">
            {% if field.html_name == "characteristic" or field.html_name == "state_comment" %}
              {% include "common/textarea-field.html" with form=movable_form %}
            {% elif field.html_name == "expiration_date" %}
              {% include "common/date-field.html" with clear_button=True help_text="Если даты нет, объявление постоянное." %}
            {% elif field.html_name == "state" %}
              {% include "common/select-field.html" with default_value="Выберите состояние" %}
            {% else %}
              {% include "common/text-field.html" %}
            {% endif %}
          </div>
        {% endfor %}
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="photos" multiple>
            <label class="custom-file-label" for="customFile">Выберите файл</label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Сохранить</button>
      </form>
    {% endif %}
  </div>
{% endblock %}
