{% extends 'base.html' %}

{% block title %}Добавить объявление{% endblock %}

{% block content %}
  <h1 class="mb-4">Добавить объявление</h1>

  <ul class="nav nav-tabs mb-3 nav-fill">
    <li class="nav-item">
      <a href="#movable" data-toggle="tab" class="nav-link {% if not immovable_form_received %} active{% endif %}">Движимое имущество</a>
    </li>
    <li class="nav-item">
      <a href="#immovable" data-toggle="tab" class="nav-link {% if immovable_form_received %} active{% endif %}">Недвижимое имущество</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade{% if not immovable_form_received %} show active{% endif %}" id="movable">
      <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="type_asset" value="movable">
        {% for field in movable_form %}
          <div class="form-group">
            {% if field.html_name == "characteristic" %}
              {% include "common/textarea-field.html" with form=movable_form %}
            {% elif field.html_name == "expiration_date" %}
              {% include "common/date-field.html" with clear_button=True help_text="Если даты нет, объявление постоянное." %}
            {% else %}
              {% include "common/text-field.html" %}
            {% endif %}
          </div>
        {% endfor %}
        <div class="invalid-feedback">
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        </div>
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="photos" multiple>
            <label class="custom-file-label" for="customFile">Выберите файл</label>
          </div>
          <div class="invalid-feedback">
            {% for error in form.photos.errors %}
              {{ error }}
            {% endfor %}
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Сохранить</button>
      </form>
    </div>
    <div class="tab-pane fade{% if immovable_form_received %}show active{% endif %}" id="immovable">
      <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- immovable -->
        <input type="hidden" name="type_asset" value="immovable" id="id_type_asset">
        {% for field in immovable_form %}
          <div class="form-group">
            {% if field.html_name == "characteristic" or field.html_name == "state_comment" %}
              {% include "common/textarea-field.html" with form=movable_form %}
            {% elif field.html_name == "expiration_date" %}
              {% include "common/date-field.html" with clear_button=True help_text="Если даты нет, объявление постоянное." %}
            {% elif field.html_name == "state" %}
              {% include "common/select-field.html" with default_value="Выберите состояние" %}
            {% else %}
              {% include "common/text-field.html" %}
            {% endif %}
          </div>
        {% endfor %}
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="photos" multiple>
            <label class="custom-file-label" for="customFile">Выберите файл</label>
          </div>
          <div class="invalid-feedback">
            {% for error in form.photos.errors %}
              {{ error }}
            {% endfor %}
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Сохранить</button>
      </form>
    </div>
  </div>
{% endblock %}
