{% extends 'base.html' %}

{% block content %}
    <ul class="nav nav-tabs nav-fill mb-3">
        <li class="nav-item">
            <a
                class="nav-link {% if kind_asset == 'new' %}active{% endif %}"
                href="{% url 'assets:assets-list' kind_asset='new' %}"
            >Новые объявления</a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link {% if kind_asset == 'const' %}active{% endif %}"
                href="{% url 'assets:assets-list' kind_asset='const' %}"
            >Постоянные объявления</a>
        </li>
    </ul>

    <form action="" method="GET">
        {% for field in search_form %}
            <div class="form-group">
                {% if field.html_name == "type_asset" %}
                    {% include "common/select-field.html" with default_value="Выберите вид" %}
                {% elif field.html_name == "expiration_date_start" or field.html_name == "expiration_date_end" %}
                    {% include "common/date-field.html" with help_text="" %}
                {% elif field.html_name == "state" %}
                    {% include "common/select-field.html" with default_value="Выберите состояние" %}
                {% else %}
                    {% include "common/text-field.html" %}
                {% endif %}
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Поиск</button>
    </form>

    <div class="YandexMap mb-3 mw-100" data-assets="{{ assets_json }}"></div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Балансодержатель</th>
                    <th scope="col">Срок</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in assets_qs %}
                    <tr>
                        <td>{{ asset.id }}</td>
                        <td>
                            <a href="{{ asset.get_absolute_url }}">{{ asset.name }}</a><br>
                            {% if asset.state %}
                                <small class="text-muted">
                                    {% if asset.is_usable %}
                                        <span class="text-success">
                                            <i class="far fa-thumbs-up"></i>
                                        </span>
                                        {{ asset.get_state_display|default:'-'}}
                                    {% elif asset.is_usable_with_repair %}
                                        <span class="text-warning">
                                            <i class="fas fa-hammer"></i>
                                        </span>
                                        {{ asset.get_state_display|default:'-'}}
                                    {% elif asset.is_unusable %}
                                        <span class="text-danger">
                                            <i class="fas fa-times"></i>
                                        </span>
                                        {{ asset.get_state_display|default:'-'}}
                                    {% else %}
                                        {{ asset.get_state_display|default:'-'}}
                                    {% endif %}
                                </small>
                                <br>
                            {% endif %}
                            <small class="text-muted">
                                {% if asset.address %}
                                    {{ asset.address }}
                                {% else %}
                                    {{ asset.get_type_asset_display }}
                                {% endif %}
                            </small>
                        </td>
                        <td>{{ asset.balance_holder }}</td>
                        <td>{{ asset.expiration_date|default:'-'}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
