<label for="{{ movable_form.characteristic.id_for_label }}">{{ movable_form.characteristic.label }}</label>
<textarea class="form-control {% spaceless %}
  {% if validation_called %}
    {% if field.errors %}is-invalid{% else %}is-valid{% endif %}
  {% endif %}
{% endspaceless %}" name="{{ field.html_name }}" cols="30" rows="10">{% spaceless %}
  {{ field.value|default:"" }}
{% endspaceless %}</textarea>
<div class="invalid-feedback">
  {% for error in field.errors %}
    {{ error }}
  {% endfor %}
</div>
