@import "./bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";

@import "./components/YandexMap.scss";
@import "~swiper/swiper";
@import "~swiper/components/navigation/navigation";

.custom-file-label::after {
    content: "Загрузить";
}

.swiper-wrapper{
    height: 100%;
}

.swiper-slide{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-container {
    height: 400px;
}
