{% extends 'base.html' %}

{% block title %}Войти{% endblock %}

{% block navbar_auth %}active{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-6 col-md-4">
        <h1>Войти</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" name="email" value="{{ form.email.value|default:"" }}" placeholder="Email">
                {% for error in form.email.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" value="{{ form.password.value|default:""  }}" placeholder="Пароль">
                {% for error in form.password.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <p>
                Заполнить для демо:<br>
                <button
                    type="button"
                    class="btn btn-secondary btn-sm DemoFill"
                    data-email="admin@example.com"
                    data-password="admin"
                >МПР</button>
                <button
                    type="button"
                    class="btn btn-secondary btn-sm DemoFill"
                    data-email="ogv@example.com"
                    data-password="ogv"
                >ОГВ</button>
            </p>
            <button class="btn btn-primary" type="submit">Войти</button>
        </form>
    </div>
</div>
{% endblock %}
