<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>
        {{ data.text }}
    </p>
    <p></p>
    <p>
        Название: {{ data.name }}
    </p>
    <p>
        Адрес: {{ data.address }}
    </p>
    <p>
        Балансодержатель: {{ data.balance_holder }}
    </p>
    <p>
        Контактное лицо: {{ data.full_name_contact_person }}
    </p>
    <p>
        Телефон: {{ data.phone_contact_person }}
    </p>
    <p>
        Email: {{ data.email_contact_person }}
    </p>
    <p>
        Характеристика: {{ data.characteristic }}
    </p>
</body>
</html>
